.banner {
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url("../Images/BannerVerde.jpg");
    background-size: cover;
    height: 300px;
    padding-top: 100px;
}

.titulo {
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(140, 160, 120 , 0.5);
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.conttitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloaut{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    font-weight: 800;
}

@media (min-width: 800px) {
    .banner{
        height: 500px;
        background-position: right;
        
    }

    .titulo{
        margin-top: 100px;
        width: 80%;
        border-radius: 15px;
        font-size: 20px;
    }

    .tituloaut{
        width: 50%;
        margin-top: 150px;
        margin-bottom: 100px;
    }
}